{# templates/event/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block content %}
    <h1>Eventos</h1>
    <ul>
        {% for event in events %}
            <li>
                <h2><a href="{{ path('event_show', {'id': event.id }) }}">{{ event.name }}</a></h2>
                
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('event_create') }}" class="btn btn-primary">Añadir Evento</a>
{% endblock %}